.task{
    font-size: 30px;
    background-color: #FFFFFF;
    margin: 10;
    margin: 0px;
    height: 50px;
    position: absolute;
    left:100px;
}
body{
    background-color: #7B7B7B29;
}
.blue{
    color: aqua;
}
.add{
    position: absolute;
    font-size: 18px;
    top: ;
    right: 80px;
    top: 80px;
}
.circle{
    border-radius: 50%;
    border: 2px solid skyblue;
    background-color: skyblue;
    color: white;
}
.box{          position: absolute;
    top: 140px;
    left: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 5%;
}
.boxs{
       border: 2px solid #d0bebe;
    background-color: #FFFFFF;
    height: 300px;
    width: 350px;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
.dash{
       text-decoration: line-through;
}
.pop1{
    border: 3px solid rgb(51, 35, 4);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 40%;
    justify-content: center;

}
.pop11{
    border: 3px solid rgb(217, 192, 143);
    background-color: cadetblue;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 150px;
}
.body{
    background-image: url(./index.html);
}
.box6{
    border: 2px solid #d0bebe;
    background-color: #FFFFFF;
    height: 300px;
    width: 350px;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    left:40%
    

}
.add1{
    position: absolute;
    top: 26%;
    right: 37%;
}
.back{
    position: absolute;
    top:26% ;
    left:43% ;
    font-size: 20px;
}
img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25%;
    left: 40%;
}
.blue1{
    align-items: center;
    align-content: center;
    position: relative;
    top:0;
    left:35%;
}
.img1{
    position: absolute;
    top: 7%;
    left: 90%;
    height: 20px;
    width: 20px;
}
.bg4{
    height: px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    filter: blur(2px);
    
 
}
.body3{
    background-color: #F7F7F7;
}
.bg2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px);
    
}
@media (max-width:450px) and (min-width:320px){
    .class{
        border-radius: 50%;
    border: 2px solid skyblue;
    background-color: skyblue;
    color: white;
    padding: 20px;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        left: 30px;
    }
    .boxs{
        border: 2px solid #d0bebe;
        background-color: #FFFFFF;
        height: 200px;
        width: 250px;
        border-radius: 4px;
        margin: 10px 20px;
        
    }
    .task{
        position: absolute;
        left:2px;
        width:100%;
    }
    .add{
        position: absolute;
        left: 160px;
        height: 20px;
    }
    .index{
        filter: blur(5px);
    }
    .pop1{
        margin: auto;
        position: absolute;
        top: 50%;
        left: 10%;
        z-index: 4;
    }
    .task{
        position: absolute;
        left:2px;
        width:100%;
    }
    .add{
        position: absolute;
        left: 160px;
        height: 20px;
    }
    .box6{
    border: 2px solid #d0bebe;
    background-color: #FFFFFF;
    height: 200px;
    width: 250px;
    border-radius: 4px;
    margin: 10px 20px;
    position: absolute;
    left:10px;
    top:130px
    }
    .goback{
    position: absolute;
    top:90px;
    left: 25px;

    }
    .back{
        position: absolute;
    top:92px;
    left: 65px;

    }
    .add1{
        position: absolute;
        top:92px;
        left: 155px;  
}
.pop4{
    position: absolute;
    top: 190px;
    left: 20px;
}
.blur4{
    filter: blur(3px);
}
}
